<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../assets/peminjam/css/home.css">
    <link rel="stylesheet" type="text/css" href="../../assets/index/css/navbar.css">
</head>

<body style="margin: 0;">
    <nav class="nav-container">
        <div class="nav-atas-container">
            <div class="nav-logo">
                <p class="nav-logo-title">E-LIBRARY HUB</p>
                <P class="nav-logo-subtitle">by:zelion.sm__</P>
            </div>
            <div class="nav-search-container">
                <input type="search" placeholder="cari..." class="nav-search">
                <button type="submit" class="nav-search-button">Cari</button>
            </div>
        </div>
        <div class="nav-bawah-container">
            <div class="nav-bawah-kiri">
                <a href="home.html" class="nav-home-container active">
                    Home
                </a>
                <div class="nav-kategori-container">
                    <select>
                        <option disabled selected>pilih Kategori</option>
                        <option>novel</option>
                        <option>fiksi</option>
                        <option>sejarah</option>
                    </select>
                </div>
            </div>
            <div class="nav-bawah-kanan">
                <a href="koleksi.html" class="nav-koleksi-container">Koleksi</a>
                <a href="pinjaman.html" class="nav-pinjaman-container">Pinjaman</a>
                <a href="../landing.html" class="nav-logout-container">Logout</a>
            </div>
        </div>


    </nav>


    <!--Unggulan-->
    <div class="unggulan-container">
        <!--prev-->
        <div class="prev-container">
            <button id="prevBtn"><img src="../../prev.png" class="prev"></button>
        </div>

        <!--unggulan card container-->
        <div class="unggulan-content-container" href="home.html">
            <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
            <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a> <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a> <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a> <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a> <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a> <!--card-->
            <a href="home.html" class="unggulan-card"
                style="background-image: url('../../nikol.jpeg'); background-size: cover;">
                <p class="unggulan-title" id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div>

        <!--next-->
        <div class="next-container">
            <button id="nextBtn">
                <img src="../../next.png" class="next">
            </button>
        </div>
    </div>



    <div class="container">

        <!--card container-->
        <div class="card-container">


            <!--card-->
            <a href="detail-buku.html" class="card">
                <div class="card-title">
                    <p id="myText">Kisah Cinta Josua Dan Engel</p>
                </div>
                <div class="rating">
                    <div class="rating-text">
                        <p>7/10</p>
                    </div>
                </div>
                <div class="penulis-buku">
                    <p>Oleh: Zelion Sm</p>
                    <p>Kategori: Novel</p>
                </div>
                <div class="gambar-container">
                    <div class="gambar">
                        <img src="../../nikol.jpeg" class="gambar-isi">
                    </div>
                </div>
                <div class="tahun">
                    <p>Tahun:2020</p>
                </div>
            </a>
            <!--card-->
            <a href="detail-buku.html" class="card">
                <div class="card-title">
                    <p id="myText">Kisah Cinta Josua Dan Engel</p>
                </div>
                <div class="rating">
                    <div class="rating-text">
                        <p>7/10</p>
                    </div>
                </div>
                <div class="penulis-buku">
                    <p>Oleh: Zelion Sm</p>
                    <p>Kategori: Novel</p>
                </div>
                <div class="gambar-container">
                    <div class="gambar">
                        <img src="../../nikol.jpeg" class="gambar-isi">
                    </div>
                </div>
                <div class="tahun">
                    <p>Tahun:2020</p>
                </div>
            </a>
            <!--card-->
            <a href="detail-buku.html" class="card">
                <div class="card-title">
                    <p id="myText">Kisah Cinta Josua Dan Engel</p>
                </div>
                <div class="rating">
                    <div class="rating-text">
                        <p>7/10</p>
                    </div>
                </div>
                <div class="penulis-buku">
                    <p>Oleh: Zelion Sm</p>
                    <p>Kategori: Novel</p>
                </div>
                <div class="gambar-container">
                    <div class="gambar">
                        <img src="../../nikol.jpeg" class="gambar-isi">
                    </div>
                </div>
                <div class="tahun">
                    <p>Tahun:2020</p>
                </div>
            </a>
            <!--card-->
            <a href="detail-buku.html" class="card">
                <div class="card-title">
                    <p id="myText">Kisah Cinta Josua Dan Engel</p>
                </div>
                <div class="rating">
                    <div class="rating-text">
                        <p>7/10</p>
                    </div>
                </div>
                <div class="penulis-buku">
                    <p>Oleh: Zelion Sm</p>
                    <p>Kategori: Novel</p>
                </div>
                <div class="gambar-container">
                    <div class="gambar">
                        <img src="../../nikol.jpeg" class="gambar-isi">
                    </div>
                </div>
                <div class="tahun">
                    <p>Tahun:2020</p>
                </div>
            </a>
            <!--card-->
            <a href="detail-buku.html" class="card">
                <div class="card-title">
                    <p id="myText">Kisah Cinta Josua Dan Engel</p>
                </div>
                <div class="rating">
                    <div class="rating-text">
                        <p>7/10</p>
                    </div>
                </div>
                <div class="penulis-buku">
                    <p>Oleh: Zelion Sm</p>
                    <p>Kategori: Novel</p>
                </div>
                <div class="gambar-container">
                    <div class="gambar">
                        <img src="../../nikol.jpeg" class="gambar-isi">
                    </div>
                </div>
                <div class="tahun">
                    <p>Tahun:2020</p>
                </div>
            </a>
            <!--card-->
            <a href="detail-buku.html" class="card">
                <div class="card-title">
                    <p id="myText">Kisah Cinta Josua Dan Engel</p>
                </div>
                <div class="rating">
                    <div class="rating-text">
                        <p>7/10</p>
                    </div>
                </div>
                <div class="penulis-buku">
                    <p>Oleh: Zelion Sm</p>
                    <p>Kategori: Novel</p>
                </div>
                <div class="gambar-container">
                    <div class="gambar">
                        <img src="../../nikol.jpeg" class="gambar-isi">
                    </div>
                </div>
                <div class="tahun">
                    <p>Tahun:2020</p>
                </div>
            </a>



        </div>
    </div>

    <script src="../../assets/peminjam/js/carousel.js"></script>
    <script src="../../assets/index/js/navbar.js"></script>
    <script src="../../assets/index/js/limit-text.js"></script>

</body>

</html>