<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koleksi</title>
    <link rel="stylesheet" type="text/css" href="../../assets/peminjam/css/koleksi.css">
    <link rel="stylesheet" type="text/css" href="../../assets/peminjam/css/home.css">
    <link rel="stylesheet" type="text/css" href="../../assets/index/css/navbar.css">
</head>

<body style="margin: 0;">
    <nav class="nav-container">
        <div class="nav-atas-container">
            <div class="nav-logo">
                <p class="nav-logo-title">E-LIBRARY HUB</p>
                <P class="nav-logo-subtitle">by:zelion.sm__</P>
            </div>
            <div class="nav-search-container">
                <input type="search" placeholder="cari..." class="nav-search">
                <button type="submit" class="nav-search-button">Cari</button>
            </div>
        </div>
        <div class="nav-bawah-container">
            <div class="nav-bawah-kiri">
                <a href="home.html" class="nav-home-container">
                    Home
                </a>
                <div class="nav-kategori-container">
                    <select>
                        <option disabled selected>pilih Kategori</option>
                        <option>novel</option>
                        <option>fiksi</option>
                        <option>sejarah</option>
                    </select>
                </div>
            </div>
            <div class="nav-bawah-kanan">
                <a href="koleksi.html" class="nav-koleksi-container active">Koleksi</a>
                <a href="pinjaman.html" class="nav-pinjaman-container">Pinjaman</a>
                <a href="../../index.html" class="nav-logout-container">Logout</a>
            </div>
        </div>
    </nav>


    <div class="koleksi-container">
        <!--card-->
        <div class="koleksi-card-container limit-text">
            <div class="koleksi-delete-container">
                <button>Hapus</button>
            </div>
            <a href="card-deskripsi.html?id=1" class="koleksi-content-container">
                <div class="koleksi-gambar-container">
                    <img class="koleksi-gambar" src="../../nikol.jpeg">
                </div>
                <p id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div>
        <!--card-->
        <div class="koleksi-card-container limit-text">
            <div class="koleksi-delete-container">
                <button>Hapus</button>
            </div>
            <a href="card-deskripsi.html?id=1" class="koleksi-content-container">
                <div class="koleksi-gambar-container">
                    <img class="koleksi-gambar" src="../../nikol.jpeg">
                </div>
                <p id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div> <!--card-->
        <div class="koleksi-card-container limit-text">
            <div class="koleksi-delete-container">
                <button>Hapus</button>
            </div>
            <a href="card-deskripsi.html?id=1" class="koleksi-content-container">
                <div class="koleksi-gambar-container">
                    <img class="koleksi-gambar" src="../../nikol.jpeg">
                </div>
                <p id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div> <!--card-->
        <div class="koleksi-card-container limit-text">
            <div class="koleksi-delete-container">
                <button>Hapus</button>
            </div>
            <a href="card-deskripsi.html?id=1" class="koleksi-content-container">
                <div class="koleksi-gambar-container">
                    <img class="koleksi-gambar" src="../../nikol.jpeg">
                </div>
                <p id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div> <!--card-->
        <div class="koleksi-card-container limit-text">
            <div class="koleksi-delete-container">
                <button>Hapus</button>
            </div>
            <a href="card-deskripsi.html?id=1" class="koleksi-content-container">
                <div class="koleksi-gambar-container">
                    <img class="koleksi-gambar" src="../../nikol.jpeg">
                </div>
                <p id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div> <!--card-->
        <div class="koleksi-card-container limit-text">
            <div class="koleksi-delete-container">
                <button>Hapus</button>
            </div>
            <a href="card-deskripsi.html?id=1" class="koleksi-content-container">
                <div class="koleksi-gambar-container">
                    <img class="koleksi-gambar" src="../../nikol.jpeg">
                </div>
                <p id="myText">Kisah Cinta Josua dan Engel</p>
            </a>
        </div>

    </div>

    <script src="../../assets/index/js/limit-text.js"></script>
</body>

</html>